
.DS_Store
.idea/mars_news_challenge.iml
.idea/modules.xml
.idea/workspace.xml
part_1_mars_news.ipynb
part_2_mars_weather.ipynb
.idea/material_theme_project_new.xml
.idea/material_theme_project_new.xml
.idea/jupyter-settings.xml
.idea/material_theme_project_new.xml
.idea/misc.xml
/.idea
